<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:11111/UserService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserService" contract="UserService.IUserService"
                name="NetTcpBinding_IUserService" />
        </client>
    </system.serviceModel>
</configuration>