<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
        <diagnostics performanceCounters="Default" />
        <behaviors>
            <serviceBehaviors>
                <behavior name="UserServiceBehavior">
                    <serviceDebug httpHelpPageEnabled="false" />
                    <serviceMetadata />
                    <serviceTimeouts transactionTimeout="00:10:00" />
                    <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000"
                        maxConcurrentInstances="1000" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="tcpbinding">
                    <security mode="None">
                        <transport clientCredentialType="None" protectionLevel="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <standardEndpoints />
        <services>
            <service behaviorConfiguration="UserServiceBehavior" name="Nw.ServiceWCF.UserService">
                <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpbinding"
                    contract="Nw.InterfaceWCF.IUserService" />
                <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:11111/UserService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>